address: 0.0.0.0
passcode: 12345

defaults:
    universe: 1
    fade: 1

switches:
    hallway:
        addr: 6
        fade: 1.5
    outside:
        addrs: [12, 13, 14, 15]
        on: 200
        fade: 0
        start: on
    lobby:
        addrs: [127, 511]
        states:
            - off: 0
            - dim: 100
            - full: 255
        fade: 2
        universe: 2
